
<head>
    <link rel="stylesheet" href="/static/css/about/about.css" />
</head>
<body>
    <h1>আমাদের সম্পর্কে</h1>
    <div class="descrip">
        আলহামদুলিল্লাহ সকল প্রশংসা মহান আল্লাহ তায়ালার যিনি আমাদেরকে আশরাফুল মাখলুকাত হিসেবে সৃষ্টি করেছেন। দুরুদ ও সালাম আমাদের প্রিয় নবী হযরত মুহাম্মদ সাল্লাল্লাহু আলাইহি ওয়া সাল্লাম এর প্রতি। <br>

এই ওয়েভসাইটি আমরা এমনভাবে তৈরি করেছি যাতে দ্বীনী ভাই বোন সহজে ইলম অর্জন করতে পারেন। দ্বীনী ইলম অর্জনে সাহায্য করা আমাদের প্রধান লক্ষ্য ও উদ্দেশ্য। <br>
সকলের কাছে আমাদের চাওয়া , আমাদের ওয়েভসাইট সম্পর্কে আপনার পরিচিত দ্বীনী ভাই বোনকে বলুন , প্রচার করুন এতে আপনার ওসিলায় অনেক ভাই-বোন উপকৃত হতে পারবেন ইন শা আল্লাহ । যত বেশি মানুষ আমাদের সম্পর্কে জানবে ততো বেশি দ্বীনী ভাই বোনদের সেবা দিতে পারবো ইন শা আল্লাহ । <br>
 মহান আল্লাহ সুবহানাহু ওয়া তা’আলা কাছে সকলে দোয়া করবেন যাতে আমাদের এ খেদমত কে কবুল করেন। আমিন।
    </div>
</body>