*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.authent {
  background: white;
  width: 600px;
  height: auto;
  margin: 4% auto;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  padding: 30px 0px;
}
.authent h1,h4{
    margin: 20px 5%;
    text-align: center;
}
.authent form .con {
  margin: 2px 5% 12px;
  /*padding: 10px;*/
  width: 90%;
  height: 50px;
  border-radius: 2px;
  outline: none;

  border: 1px solid rgba(8, 13, 20, 0.5);
}
.authent form i {
  font-size: 22px;
  padding: 0 10px;
}
.authent form .input {
  /* margin: 2px 5% 12px;
  padding: 10px;*/
  width: 89.51%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 18px;
  background: white;
}/*
.authent form .input:focus {
  outline: 3px solid rgba(29, 128, 90, 0.5);
}*/

.authent button[type="submit"] {
  width: 90%;
  height: 44px;
  margin: 15px 5% 15px;
  background: #402a89;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 4px;
  color: white;
  font-size: 22px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.authent button[type="submit"]:hover {
  background: #be02da;
}
.authent a{
    margin: 0 5%;
    text-decoration: none;
}
.authent a:hover{
    color:#be02da;
    text-decoration: underline;
    font-size: 18px;
}
/*new*/
.authent form .con_password{
    margin: 2px 5% 12px;
    /*padding: 10px;*/
    width: 90%;
    height: 60px;
    border-radius: 2px;
    outline: none;
    border: 1px solid rgba(8, 13, 20, 0.5);
    margin-top: 30px;
   /* background: green;*/
  }
  .authent form i {
    font-size: 20px;
    padding: 0 10px;
  }
  .authent form .con_password .input{
    width: 83%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 18px;
    padding-right: 0;
  }
  .authent form .con_password .show{
    width:5%;
   padding-left: 0;
   margin-right: 0;
   padding-right: 0;
   margin-left: 0;
   cursor: pointer;
   /*background: red;*/
  }
  /*responsive*/
@media screen and (max-width:700px){
  .authent {
    width: 90%;
    margin-top: 15%;
  }
}
@media screen and (max-width:570px){
  .authent form .con_password{
    padding-right: 10px;
  }
}
@media screen and (max-width:540px){
  .authent form .con_password .input{
    width: 78%;
  }
}
@media screen and (max-width:470px){
   .authent {
     width: 94%;
   }
 }
 @media screen and (max-width:400px){
  .authent form .con_password .input{
    width: 76%;
  }
  .authent h1{
    font-size: 22px;
   }
}



