  <head>
    <link rel="stylesheet" href="/static/css/settings/password/password.css">
  </head>
  <body>
   <div class="ge_pa_navbar">
    <a href="{% url 'general' %}" style="text-decoration: none"><button>General</button></a>
    <a href="{% url 'change_password' user.id %}" style="text-decoration: none"><button style="background: #402a89;color:white;">Password</button></a>  
  </div>
  <div class="general">
    {% include "messages.html" %}
    <h1>Password</h1>
    {% if user.is_authenticated %}
    <form method="POST">
      {% csrf_token %}
      <label>Current Password</label><br>
      <div class="con_password">
      <input type="password" class="input" name="psw1" required value="{{old_psw}}"/><i class="fas fa-eye show"></i></div>
      <label>New Password</label>
      <div class="con_password">
      <input type="password" class="input" name="psw2" required value="{{new_psw1}}"/><i class="fas fa-eye show"></i></div>
      <label>Confirm New Password</label>
      <div class="con_password">
      <input type="password" class="input" required name="psw3"/><i class="fas fa-eye show"></i></div>
      <button type="submit" class="button" style="vertical-align:middle"><span>Change Password </span></button>
      
      <a href="/" class="button1">Cancel </a>
  </form>
  {% endif %}
    </div>
  <!-- jqurey code -->
 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="/static/script/show_pass_icon/show_p_icon.js">
 
  </script>  
  </body>
